{% extends 'Dash/base.html' %}

{% block content %}


{% include 'Dash/students.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="chart-container" style="position: relative; height:40vh; width:100%">
                <canvas id="genderDistribution"></canvas>
            </div>            
        </div>
        <div class="col-md-4">
            <div class="chart-container" style="position: relative; height:40vh; width:100%">
                <canvas id="ageDistribution"></canvas>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="chart-container" style="position: relative; height:40vh; width:100%">
                <canvas id="maritalDistribution"></canvas>
            </div>    
        </div>
    </div>
</div>

{% include 'Dash/student_performance.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                <canvas id="studentsChart"></canvas>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                <canvas id="avgCgpaByCourseChart"></canvas>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                    <canvas id="cgpaDistributionChart"></canvas> 
            </div> 
        </div>
    </div>
</div>

{% include 'Dash/student_health.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="chart-container" style="position: relative; height:40vh;">
                <canvas id="studentConditions"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <canvas id="genderHealthChart"></canvas>
        </div>
        <div class="col-md-4">
            <div class="chart-container" style="position: relative; height:40vh;">
                <canvas id="treatmentChart"></canvas>
            </div>
        </div>
    </div>
</div>

{% include 'Dash/courses.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="chart-container" style="position: relative; height:40vh;">
                <canvas id="performanceHealthChart"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <canvas id="mentalHealthEvolutionChart"></canvas>
        </div>
        <div class="col-md-4">
            <div class="chart-container" style="position: relative; height:40vh;">
                <canvas id="cgpaByCourseAndGender"></canvas>
            </div>
        </div>
    </div>
</div>

<!--GRAFICAS-->

<!--STUDENTS CHART-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('studentsChart').getContext('2d');
    
        // Recibir los datos de Django a través del contexto
        var students = JSON.parse('{{ students|escapejs }}');
        var courses = JSON.parse('{{ courses|escapejs }}');
    
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: courses,
                datasets: [{
                    label: '# de Estudiantes',
                    data: students,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Distribución de Estudiantes por Curso',
                        font: {
                            size: 16
                        },
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    }
                }
            }
        });
        var chartContainer = document.getElementById('studentsChart').parentNode;
        chartContainer.style.marginLeft = '100px';
        chartContainer.style.marginTop = '400px';
    });
</script>
<!--STUDENT CONDITIONS-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var conditionData = JSON.parse('{{ condition_counts|escapejs }}'); // Usa el filtro 'escapejs' para el JSON en Django
        
        var ctx = document.getElementById('studentConditions').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie', // Tipo de gráfico
            data: {
                labels: Object.keys(conditionData),
                datasets: [{
                    label: 'Number of Students with Conditions',
                    data: Object.values(conditionData),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: true,
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Condiciones Médicas de los Estudiantes',
                        padding: {
                            top: 10,
                            bottom: 30
                        },
                        font: {
                            size: 18
                        }
                    }
                }
            }
        });
    });
    </script>
<!--GENDER PIE CHART-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('genderDistribution').getContext('2d');
        var genderData = JSON.parse('{{ gender_counts|escapejs }}');
    
        var genderPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: Object.keys(genderData),
                datasets: [{
                    label: 'Distribución de Estudiantes por Género',
                    data: Object.values(genderData),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Distribución de Estudiantes por Género',
                        font: {
                            size: 16
                        },
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    }
                }
            }
        });
    });
    </script>

<!--AGE DISTRIBUTION-->

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var ctxAge = document.getElementById('ageDistribution').getContext('2d');
        var ages = JSON.parse('{{ ages|escapejs }}');
        var ageCounts = JSON.parse('{{ age_counts|escapejs }}');



        var ageChart = new Chart(ctxAge, {
            type: 'bar',
            data: {
                labels: ages,
                datasets: [{
                    label: 'Distribución de Edades',
                    data: ageCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Distribución de Edades de los Estudiantes',
                        font: {
                            size: 16
                        },
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    }
                }
            }
        });
    var chartContainer = document.getElementById('ageDistribution').parentNode;
    chartContainer.style.marginLeft = '-150px';
    });

</script>

<!--MARITAL DISTRIBUTION-->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctxMarital = document.getElementById('maritalDistribution').getContext('2d');
        var maritalStatuses = JSON.parse('{{ marital_statuses|escapejs }}');
        var maritalCounts = JSON.parse('{{ marital_counts|escapejs }}');
    
        var maritalChart = new Chart(ctxMarital, {
            type: 'bar',
            data: {
                labels: maritalStatuses,
                datasets: [{
                    label: 'Distribución del Estado Civil',
                    data: maritalCounts,
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Distribución del Estado Civil de los Estudiantes',
                        font: {
                            size: 16
                        },
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    }
                }
            }
        });
        var chartContainer = document.getElementById('maritalDistribution').parentNode;
        chartContainer.style.marginLeft = '-75px';
    });
    </script>



<!--CGPA BY COURSE CHART-->
<script>
    document.addEventListener('DOMContentLoaded', function (chart) {
        var ctxBar = document.getElementById('avgCgpaByCourseChart').getContext('2d');
        var courses = JSON.parse('{{ courses|escapejs }}');
        var avgCgpas = JSON.parse('{{ avg_cgpas|escapejs }}');
        var canvasWidth = 400; // Ancho reducido
        var canvasHeight = 300; // Altura reducida
        var barChart = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: courses,
                datasets: [{
                    label: 'Promedio de CGPA por Curso',
                    data: avgCgpas,
                    backgroundColor: 'rgba(54, 162, 235, 0.8)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'CGPA Promedio'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'CGPA Promedio por Curso',
                        font: {
                            size: 16
                        },
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    }
                }
            }
        });
            var chartContainer = document.getElementById('avgCgpaByCourseChart').parentNode;
            chartContainer.style.marginTop = '400px';
            chartContainer.style.marginLeft = '300px';


    });
    </script>

<!--CGPA DISTRIBUTION CHART-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('cgpaDistributionChart').getContext('2d');
        var hist = JSON.parse('{{ hist|escapejs }}');
        var bins = JSON.parse('{{ bins|escapejs }}');
    
        // Prepare labels and data from the histogram and bins
        var labels = bins.slice(1).map(function (value, index) {
            return `${bins[index].toFixed(1)} - ${value.toFixed(1)}`;
        });
        var data = hist;
    
        var histogramChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Distribución de CGPA',
                    data: data,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Rangos de CGPA'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Cantidad de Estudiantes'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Histograma de CGPA (2.0 - 4.0)',
                        font: {
                            size: 16
                        },
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
        var chartContainer = document.getElementById('cgpaDistributionChart').parentNode;
        chartContainer.style.marginLeft = '-900px';
    });
    </script>
<!-- performance health chart -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('performanceHealthChart').getContext('2d');
    
        var performanceHealth = JSON.parse('{{ performance_health_json|safe }}');
    
        // Calcular promedios para rangos de CGPA
        var groupedData = groupDataByCGPARange(performanceHealth);
    
        var barChart = new Chart(ctx, {
            type: 'bar',  // Tipo de gráfico
            data: {
                labels: Object.keys(groupedData),  // Rangos de CGPA
                datasets: [{
                    label: 'Depresión',
                    data: Object.values(groupedData).map(data => data.depressionAvg),
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)'
                }, {
                    label: 'Ansiedad',
                    data: Object.values(groupedData).map(data => data.anxietyAvg),
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)'
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'CGPA'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Nivel de Salud Mental'
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return context.dataset.label + ': ' + context.raw.y.toFixed(2);
                            }
                        }
                    },
                    legend: {
                        display: true,
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Correlación entre Rendimiento Académico y Salud Mental',
                        font: {
                            size: 16
                        },
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
    
        function groupDataByCGPARange(data) {
            const rangeSize = 0.5; // Definir el tamaño del rango de CGPA
            const grouped = {};
            data.cgpa.forEach((cgpa, index) => {
                const range = Math.floor(cgpa / rangeSize) * rangeSize;
                if (!grouped[range]) {
                    grouped[range] = { depression: [], anxiety: [] };
                }
                grouped[range].depression.push(data.depression[index]);
                grouped[range].anxiety.push(data.anxiety[index]);
            });
    
            // Calcular promedios para cada rango
            Object.keys(grouped).forEach(range => {
                const depressionAvg = grouped[range].depression.reduce((a, b) => a + b, 0) / grouped[range].depression.length;
                const anxietyAvg = grouped[range].anxiety.reduce((a, b) => a + b, 0) / grouped[range].anxiety.length;
                grouped[range] = { depressionAvg, anxietyAvg };
            });
    
            return grouped;
        }
    });
    </script>
    
    

<!-- gender health chart -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('genderHealthChart').getContext('2d');
    var genderHealthStats = JSON.parse('{{ gender_health_stats_json|escapejs }}');

    var labels = Object.keys(genderHealthStats); // Nombres de los géneros
    var depressionData = labels.map(gender => genderHealthStats[gender].depression);
    var anxietyData = labels.map(gender => genderHealthStats[gender].anxiety);

    var stackedBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Depresión',
                data: depressionData,
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }, {
                label: 'Ansiedad',
                data: anxietyData,
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    stacked: true,
                    title: {
                        display: true,
                        text: 'Género'
                    }
                },
                y: {
                    stacked: true,
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Cantidad de Estudiantes'
                    }
                }
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Prevalencia de Problemas de Salud Mental por Género',
                    font: {
                        size: 16
                    },
                    padding: {
                        top: 10,
                        bottom: 30
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });

});
</script>


<!-- students with and without treatment -->

<script>
document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('treatmentChart').getContext('2d');
    var treatmentStats = JSON.parse('{{ treatment_stats_json|escapejs }}');

    var doughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Con Tratamiento', 'Sin Tratamiento'],
            datasets: [{
                data: [treatmentStats.with_treatment, treatmentStats.without_treatment],
                backgroundColor: ['rgba(75, 192, 192, 0.5)', 'rgba(255, 99, 132, 0.5)'],
                borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom'
                },
                title: {
                    display: true,
                    text: 'Tratamiento de Salud Mental entre Estudiantes',
                    font: {
                        size: 16
                    },
                    padding: {
                        top: 10,
                        bottom: 30
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });
});
</script>

<!-- yearly mental health -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('mentalHealthEvolutionChart').getContext('2d');
    var yearlyHealthStats = JSON.parse('{{ yearly_health_stats_json|escapejs }}');

    var labels = Object.keys(yearlyHealthStats).map(year => `Año ${year}`);
    var depressionData = Object.values(yearlyHealthStats).map(data => data.depression);
    var anxietyData = Object.values(yearlyHealthStats).map(data => data.anxiety);
    var panicAttacksData = Object.values(yearlyHealthStats).map(data => data.panic_attacks);

    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Depresión',
                data: depressionData,
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                fill: true
            }, {
                label: 'Ansiedad',
                data: anxietyData,
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                fill: true
            }, {
                label: 'Ataques de pánico',
                data: panicAttacksData,
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                fill: true
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Evolución de la Salud Mental por Año Académico',
                    font: {
                        size: 16
                    },
                    padding: {
                        top: 10,
                        bottom: 30
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });
});
</script>

<!-- course by cgpa and gender -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('cgpaByCourseAndGender').getContext('2d');
    var data = JSON.parse('{{ cgpa_stats_json|safe }}');  // Asegúrate de usar el filtro 'safe'

    var labels = Object.keys(data);
    var datasets = [];

    Object.keys(data[labels[0]]).forEach(function(gender) {
        var dataset = {
            label: gender,
            data: [],
            backgroundColor: gender === 'Male' ? 'rgba(54, 162, 235, 0.5)' : 'rgba(255, 99, 132, 0.5)',
            borderColor: gender === 'Male' ? 'rgba(54, 162, 235, 1)' : 'rgba(255, 99, 132, 1)',
            borderWidth: 1
        };
        labels.forEach(function(label) {
            dataset.data.push(data[label][gender] || 0);  // Usa 0 como valor predeterminado si no hay datos
        });
        datasets.push(dataset);
    });

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            scales: {
                x: {
                    stacked: true
                },
                y: {
                    stacked: true
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Rendimiento Académico por Curso y Género',
                    font: {
                        size: 20
                    },
                    padding: {
                        top: 20,
                        bottom: 30
                    }
                },
                legend: {
                    display: true,
                    position: 'top'
                }
            }
        }
    });
});
</script>




{% endblock %}
```